@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@using PlateformeCollaborativeNET_MVC5.Models
 @model LoginViewModel
<!DOCTYPE html>
<html class="bg-light">
<head>
    <title>Solve ComplexProblems - Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <style type="text/css">
        p {
            font-size: 0.9em;
        }

        footer > label {
            font-size: 0.8em;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark pb-0">
        <a class="navbar-brand" href="#"><i class="fas fa-laptop"></i> Solve.Com</a>
        <div class="ml-auto">
            @* Login Form *@
            <div class="container-fluid mb-0">
                <div class="row">
                    <div class="col-12 p-0 m-0">
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.returnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@Html.Raw("@")</span>
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your email" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter your password" })
                                    <button type="submit" class="btn btn-light border">Go</button>
                                </div>
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                            }
                        </section>
                    </div>
                    @* <div class="col-md-4">
                            <section id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            </section>
                        </div> *@
                </div>
                <div class="row border-dark border">
                    <div class="col-12 p-0 m-0">
                        <div class="custom-checkbox text-left">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "text-light" })
                        </div>
                    </div>
                </div>
            </div>
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </nav>

    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 pt-3">
                    <h2>Bienvenue à Solve.com</h2>
                    <img src="/Content/Images/people-meeting.jpg" class="img-fluid img-thumbnail">
                    <p class="pt-2">
                        La première plateforme collaborative gratuite au Maroc. Trouvez la solution de tous vos problèmes ! 
                        L'objectif du travail collaboratif est de faciliter la communication entre les individus dans le cadre du travail ou d'une tâche non liée au travail.
                    </p>
                </div>

                <div class="col-sm-6">
                    <div class="mt-3">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger font-weight-bold" })
                    </div>
                    <div class="mt-3">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger font-weight-bold" })
                    </div>
                    <div class="mt-3">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger font-weight-bold" })
                    </div>

                    <!-- Register Form -->
                    @*<div class="container pt-4">
                        <h2 class="text-center">Créer un Compte (C'est Gratuit)</h2>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <hr>
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Item2.FirstName, new { @class = "form-control col-6" , @placeholder="Prénom"})                                      
                                    @Html.TextBoxFor(m => m.Item2.LastName, new { @class = "form-control col-6", @placeholder = "Nom de famille" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Item2.Email, new { @class = "form-control", @placeholder = "Email" })
                            </div>
                            <div class="input-group">
                                @Html.PasswordFor(m => m.Item2.Password, new { @class = "form-control", @placeholder = "Nouveau de mot de passe" })
                                @Html.PasswordFor(m => m.Item2.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmer le mot de passe" })
                            </div>
                            <div class="form-check mt-3">
                                <label class="form-check-label">
                                    <input required class="form-check-input" type="checkbox"> J'ai lu et j'accepte <a href="#">les conditions d'utilisation</a>
                                </label>
                            </div>
                            <hr />

                            <input type="submit" class="btn btn-lg btn-dark btn-block w-80" />
                        }
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <footer class="fixed-bottom pt-6 pb-6 bg-dark text-center">
        <label class="text-center text-light">&copy; 2018 - Tous les droits réservés</label>
    </footer>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html> 